PUBLIC_MAIN_FIREBASE_API_KEY=
PUBLIC_MAIN_FIREBASE_AUTH_DOMAIN=
PUBLIC_MAIN_FIREBASE_DATABASE_URL=
PUBLIC_MAIN_FIREBASE_PROJECT_ID=
PUBLIC_MAIN_FIREBASE_STORAGE_BUCKET=
PUBLIC_MAIN_FIREBASE_MESSAGING_SENDER_ID=
PUBLIC_MAIN_FIREBASE_APP_ID=

PUBLIC_GROUND_FIREBASE_API_KEY=
PUBLIC_GROUND_FIREBASE_AUTH_DOMAIN=
PUBLIC_GROUND_FIREBASE_DATABASE_URL=
PUBLIC_GROUND_FIREBASE_PROJECT_ID=

PUBLIC_SECOND_FIREBASE_API_KEY=
PUBLIC_SECOND_FIREBASE_AUTH_DOMAIN=
PUBLIC_SECOND_FIREBASE_DATABASE_URL=
PUBLIC_SECOND_FIREBASE_PROJECT_ID=

PUBLIC_FIREBASE_VAPID_KEY=
